@page
@model foci.Pages.MeccsStatsModel
@{
    ViewData["Title"] = "MeccsekStatisztikája";
}

<table>
    <thead>
        <tr>
            <th>CsapatNev</th>
            <th>Helyezés</th>
            <th>Győzelmek</th>
            <th>Vereségek</th>
            <th>Döntetlenek</th>
            <th>Pontszam</th>
            <th>LottGolok</th>
            <th>Kapottgolok</th>
        </tr>
    </thead>
</table>
